.pokedex-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.card-pokedex {
    position: relative;
    display: flex;
    width: 100%;
}

.card-image {
    border-radius: 5px;
    width: 100%;
}

.have-false { /*Opacité de l'image réduite si le pokémon n'est pas possédé*/
    opacity: 0.7;
}

.div-text-pokedex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    width: 90%;
    margin: 0 5%;
    height: 100%;
}

.pokedex-text-name {
    margin-top: 5px;
}

.pokedex-text-id {
    margin-bottom: 5px;

}

.card-pokedex .have-icon {
    position: absolute;
    border: none;
    width: 20px;
    margin: 5px;
    right: 0;
}

.card-pokedex .not-have-icon {
    position: absolute;
    border: none;
    display: none;
}

@media screen and (max-device-width: 650px) {
    .pokedex-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
  }

