.div-text-pokedex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: 100%;
    position: absolute;
    margin: 0 5%;
}

.pokedex-text-name {
    margin-top: 5px;
}

.pokedex-text-id {
    margin-bottom: 5px;
}

.card {
    display: flex;
    width: 100%;
}

.pokedex-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.have-false {
    opacity: 0.5;
}

.card .have-icon {
position: absolute;
border: none;
width: 20px;
right: 0;
margin: 5px;

}

.card .not-have-icon {
    position: absolute;
    border: none;
    display: none;
}


@media screen and (max-device-width: 650px) {
    .pokedex-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
  }

